.el-popover {
  --el-popover-border-radius: var(--el-border-radius-base) !important;
}

.el-card {
    --el-card-border-color: var(--el-border-color-light, #ebeef5) !important;
    --el-card-border-radius: 0px !important;
    --el-card-padding: 20px !important;
    --el-card-bg-color: var(--el-color-white) !important;
}

//表格Table样式
.el-table {
  --el-table-header-bg-color: #fafafa !important;
  --el-table-header-text-color: var(--el-text-color-primary) !important;
  /* el-table列数据为空自动显示-- */
  .cell:empty::before{
    content:'--';
    color:gray;
  }
}
.el-table thead {
  font-weight: bolder !important;
}

// 抽屉样式
.el-drawer__header {
  --el-drawer-padding-primary: 0px 20px;
  margin-bottom: 10px !important;
  border-bottom: 1px solid var(--el-border-color-light, #ebeef5) !important;
  height: 40px;
  justify-content: center;
}

// 菜单样式
.el-menu {
  --el-menu-item-height: 42px;
  --el-menu-sub-item-height: 42px;
}